{% extends '../base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block content %}
    <h1>{{ homePage.title }}</h1>
    <h2>{{ homePage.content }}</h2>
    <h5>{{ test_1 }}</h5>
{% endblock %}
